{{ define "main" }}

  {{ .Content }}
  <div class="line">{{ range first 1 (where .Site.RegularPages "Type" "news").ByDate.Reverse }}
  <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
  <p>{{ .Summary | safeHTML }}<a href="{{ .RelPermalink }}"></p><p>Continue reading...</a></p>
 
{{ end }}</div>
  
  <div class="line"><ul>
      {{ range after 1 (where .Site.RegularPages "Type" "ne" "page").ByDate.Reverse }}
        <li><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></li>
      {{ end }}
    </ul></div>

{{ end }}