<span class="section{{ if eq .Params.section "Culture" "Local" }} blue{{ end }}{{ if eq .Params.section "Science" "Economy" "Nation" }} red{{ end }}{{ if eq .Params.section "Opinion" }} orange{{ end }}">{{ with .Params.section }}{{ . }}</span>{{ end }}
<h1>{{ .Title | markdownify }}</h1>
{{ with .Params.description }}<description>{{ . | markdownify }}</description>{{ end }}
<span class="postmeta">{{ range .Params.author }}By {{ . | markdownify }}{{ end }}{{ with .PublishDate | default nil }}, {{ .Format "Mon 2 Jan 2006" -}}{{ end }}</span>