/* CONTAINERS */
html, body {
    font-size:16px;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin:0 auto;
    padding:0 5px;
    max-width:42rem;
}
header {margin:0 0 2rem}
.sitename {
    padding: 3px 10px;
    background-color:#e00;
    display:inline-block;
}
.sitename a {
    font-size:1.3rem;
    font-weight:400;
    color:#fff;
    text-decoration:none;
}
description {
    font-size:1.6rem;
    display:block;
    margin:1.5rem 0;
    font-weight:200;
    line-height:1.37;
    letter-spacing:-0.037rem;
}
.postmeta {
    font-size:1.1rem;
    display:block;
    margin:0 0 1rem 0;
    color:#8a8a8a;
}
.postmeta a {color:#f72b9f}
.license {
    display:block;
    margin:0 0 2rem 0;
    font-size:0.9rem;
    color:#8a8a8a;
}
footer {
    display:flex;
    justify-content:space-between;
    padding:.5rem 0 1.5rem;
    border-top:1px solid #ccc;
    font-size:1.1rem;
}
footer a {text-decoration:none; color:#000}

/* PARAGRAPHS, HEADINGS, LINKS */
p {
    font-size:1.2rem;
    font-family:Georgia,'New York','Noto Serif',Georgia,Times,'Times New Roman',serif;
    line-height:1.57;
    margin:0 0 1.5rem;
}
p a        {color:#000;}
p a:hover  {text-decoration:underline}
h1         {font-size:2.2rem; margin:0 0 1rem}
h1 a, h2 a {color: #000}
h2         {font-size:2.0rem; margin-bottom:1rem}
h3         {font-size:1.8rem; margin-bottom:1rem}
h3 a       {color:#d228ad}
h4         {font-size:1.6rem}
h1,h2,h3,h4{font-weight:700;line-height:1.13; letter-spacing:-0.037rem;}
h4         {margin-bottom:0.5rem}
.related   {color:#7c7777}
a          {color:#105fb3; text-decoration:none}
a:hover    {text-decoration:none}

.seventh {
	margin-top: 1rem;
	padding: .8rem 1rem .3rem;
	border-radius: 8px;
	background-color: #ebedee;
}
.seventh h2        {margin-top: .5rem; font-size: 1.6rem}
.seventh h2 a      {color:#005175}
.seventh h2 a:hover{color:#d00a0a}
.seventh p         {margin-bottom: .8rem; font-size:1.15rem}
.seventh .section  {font-size:1.0rem}
.line .section     {margin-bottom:0.1rem; font-size:1.0rem; font-weight:400;}

.section {display:block; margin-bottom:0.5rem; font-size:1.1rem;}
.blue    {color:#2297dd}
.red     {color:#dd229d}
.orange  {color:#C74600}

/* LISTS */
ul, ol {
    font-size:1.25rem;
    font-family:Cambria,'New York','Noto Serif',Georgia,'Times New Roman',Times,serif;
    line-height:1.57;
    padding-left: 20px;
}
li {margin:0;font-size:1.3rem}

.line ul {
    font-size:1.5rem;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height:1.15;
    margin:1rem 0 0;
    padding-left:0;
    list-style-type:none;
}
.line li {
    font-size:1.4rem;
    padding:.7rem 0 .8rem;
    border-top:1px solid #ddd;
    margin:0;
}
.line li a, .line h1 a {
    color:#000;
    text-decoration:none;
    letter-spacing:-0.037rem;
}
.line li a:hover, h1 a:hover {color:#d00a0a}
.line li:nth-child(10n+1) {
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:1.8rem;
    font-weight:700;
    letter-spacing:-0.037rem;
    line-height:1.13;
}
.line li:nth-child(1)      {border-top:none; font-size:1.6rem;}
.line li:nth-child(10n+11) {
    border-top:1px solid #ddd;
    padding:15px 0 20px;
}
.line li:nth-child(7) {
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size:1.8rem;
    font-weight:700;
    letter-spacing:-1px;
}

.related ul {
    font-size:1.5rem;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height:1.15;
    margin:1rem 0 0;
    padding-left:0;
    list-style-type:none;
}
.related li {
    font-size:1.4rem;
    padding:.7rem 0 .8rem;
    border-top:1px solid #ddd;
    margin:0;
}
.related li a {
    color:#000;
    text-decoration:none;
    letter-spacing:-0.037rem}
.related li a:hover        {color:#c00}

.related li:nth-child(1) a {border-top:none}

/* TAGS */
tags ul {
    margin:2rem 0;
    display:flex;
    flex-wrap:wrap;
    list-style-type:none;
    padding-left:0;
}
tags li {
    font-size:.9rem;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin:0 .5rem .5rem 0;
    padding:0 .4rem .1rem;
    border:none;
    background:#f1f1f1;
    border-radius:5px;
}
tags li a {text-decoration:none; color:#666}

/* BLOCKQUOTE, ASIDE, PRE, CODE */
blockquote {
    margin:2rem 0;
}
blockquote p {
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:1.4rem;
    font-weight:700;
    line-height:1.45;
    color:#d00a0a;
}
.year {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    color: #d00a0a;
}
.dgray-yellow, .red-white {
    margin: 0 0 1.5rem;
    padding: 1rem 1.5rem;
    font-size: 1.35rem;
    line-height: 1.73;
    font-weight: 700;
}
.dgray-yellow {background-color:#1e1e1e;color:#f2bf25}
.red-white    {background-color:#bf3030;color:#ffffff}

pre {
	overflow:auto;
	padding:1rem 0;
}
code {
    font-size:1.05rem;
    font-family:'Jetbrains Mono',monospace;
    letter-spacing:-0.5px;
    color:#f72b9f;
}
code a {color:#ff54b5}
code a:hover {text-decoration:underline}
article code {
    display: inline;
    margin: 2rem 0;
    line-height: 1.42;
}
/*TABLE, HR */
table, th, td {
    font-size: 1.2rem;
    border: thin solid #ccc;
    border-collapse: collapse;
    padding: .3rem .5rem;
    margin: 0 0 2rem;
    width: fit-content;
  }
th {background-color:#ebf6ff}
hr {height:1px; border:0; background-color:#ccc}

/* DETAILS */

details {
  margin-bottom: 1.5rem;
  border-radius: .5rem;
  background-color: #f5faff;
  padding: .8rem 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}
details p {
  font-weight: 400;
  background-color: white;
  padding: .5rem .8rem;
  border-radius: .3rem;
  margin: 1rem 0 .5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.2rem;
  line-height: 1.3;
}

/* DARK MODE */
@media (prefers-color-scheme: dark){
html,body                  {background-color:#212529;color:#DBE0EA}
.postmeta                  {color:#a8a8a8}
.seventh                   {background-color:#32383e}
.seventh h2 a              {color:#6aa7c1}
p a                        {color:#DBE0EA}
a                          {color:#41b0e3}
h1, h1 a, h2, h2 a, h3     {color:#fe0}
h3 a                       {color:#f27ad8}
h1 a:hover                 {color:#f72b9f}
.related                   {color:#e266ce}
.line li, .related li      {border-top:1px solid #5F6674}
.line li:nth-child(10n+1) a{color:#fe0}
.line li:nth-child(10n+11) {border-top:1px solid #5F6674}
.line li:nth-child(7) a    {color:#fe0}
.line li a, .related li a  {color:#DBE0EA}
.line li a:hover           {color:#f72b9f}
.license                   {color:#a8a8a8}
.year                      {color:#f77070}
tags li                    {background-color:#111}
footer                     {border-top:1px solid #5F6674;color:#5F6674}
footer a                   {color:#A2A5AC}
blockquote p               {color:#f77070}
code                       {color:#ec59ad}
table, th, td              {border:thin solid #666}
th                         {background-color:#484b4f}
}

/* MOBILE SCREEN */
@media screen and (max-width: 550px) {
header                     {margin:0 0 1.5rem}
h1                         {font-size:1.8rem; margin:0 0 1rem}
h2                         {font-size:1.6rem}
h3                         {font-size:1.4rem}
h4, li, .sitename a        {font-size:1.2rem}
p                          {font-size:1.1rem}
description                {font-size:1.4rem; margin:1rem 0}
.postmeta, th, td          {font-size:1.1rem}
code                       {font-size:1.0rem}
.line ul                   {font-size:1.26rem}
.line li                   {font-size:1.26rem}
.line li:nth-child(1)      {font-size:1.6rem}
.line li:nth-child(7)      {font-size:1.6rem}
.line li:nth-child(10n+11) {font-size:1.6rem}
tags li, .license          {font-size:0.85rem}
footer                     {font-size:1.1rem; padding:.5rem 0}
p                          {margin:0 0 1rem}
blockquote                 {margin:1.5rem 0}
blockquote p               {font-size:1.2rem}
.license                   {margin:0 0 1.5rem}
}
